<% content_for(:title) { page_title(@section, @book) } %>

<%= render "leaves/header", book: @book, leaf: @leaf %>

<div class="page--section">
  <h1><%= @section.title %></h1>
</div>

<% content_for :footer do %>
  <%= render "leaves/navigation", leaf: @leaf %>
<% end %>
