<%= render "leaves/history", leaf: @leaf %>

<% content_for :footer do %>
  <nav class="book__nav flex align-center gap justify-center">
    <%= link_to_next_leafable(leaf, hotkey: false, for_edit: true) %>
  </nav>
<% end %>
