<% content_for(:title) { page_title(@leaf, @book) } %>

<% content_for :header do %>
  <%= render "leaves/header", book: @book, leaf: @leaf %>
<% end %>

<div class="page__body">
  <%= @page.body.to_html %>
</div>

<%= render "leaves/history", leaf: @leaf if @book.editable? %>

<% content_for :footer do %>
  <%= render "leaves/navigation", leaf: @leaf %>
<% end %>
