<% content_for(:title) { page_title(@leaf, @book) } %>

<%= render "leaves/header", book: @book, leaf: @leaf %>

<div class="page__body">
  <%= @page.body.to_html %>
</div>

<% content_for :footer do %>
  <%= render "leaves/navigation", leaf: @leaf %>
<% end %>
