.btn {
  --btn-size: 2.65em;

  align-items: center;
  background-color: var(--btn-background, var(--color-text-reversed));
  border-radius: var(--btn-border-radius, 2em);
  border: var(--btn-border-size, 1px) solid var(--btn-border-color, var(--color-border-darker));
  color: var(--btn-color, var(--color-text));
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  gap: 0.5em;
  justify-content: center;
  padding: var(--btn-padding, 0.5em 1.1em);
  pointer-events: auto;

  /* Default icon styles */
  &:where(:has(img)) {
    text-align: start;

    img {
      -webkit-touch-callout: none;
      filter: invert(0);
      inline-size: calc(var(--btn-size) / 2);
      max-inline-size: unset;
      user-select: none;

      @media (prefers-color-scheme: dark) {
        filter: invert(100%);
      }
    }
  }

  /* Circle buttons */
  &:where(:has(.for-screen-reader):has(img)) {
    --btn-border-radius: 50%;
    --btn-padding: 0;

    aspect-ratio: 1;
    block-size: var(--btn-size);
    display: grid;
    inline-size: var(--btn-size);
    place-items: center;

    > * {
      grid-area: 1/1;
    }
  }

  /* Radios and checkboxes */
  &:has(input[type=radio], input[type=checkbox]) {
    :is(input[type=radio], input[type=checkbox]) {
      opacity: 0;
    }
  }

  &:has(input:checked)  {
    --btn-background: var(--color-text);
    --btn-color: var(--color-text-reversed);

    img {
      filter: invert(100%);
    }

    @media (prefers-color-scheme: dark) {
      img {
        filter: invert(0);
      }
    }
  }

  [disabled] &[type=submit],
  &[type=submit]:disabled {
    cursor: not-allowed;
    filter: grayscale(100%) contrast(0.5);
    opacity: 0.5;
    pointer-events: none;
  }
}

/* Variants */
.btn--plain {
  --btn-border-size: 0;
  --btn-padding: 0;
}

.btn--negative {
  --btn-background: var(--color-negative);
  --btn-color: var(--color-text-reversed);
}

.btn--reversed {
  --btn-background: var(--color-text);
  --btn-border-color: var(--color-bg);
  --btn-color: var(--color-bg);
}

:is(.btn--negative, .btn--reversed) {
  img {
    filter: invert(100%);

    @media (prefers-color-scheme: dark) {
      filter: invert(0);
    }
  }
}

.button-bar {
  --column-gap: var(--inline-space-half);

  border-radius: 2em;
  inline-size: fit-content;
  padding: var(--inline-space-half) var(--inline-space);
}
