.page__editor {
  caret-color: var(--color-link);
  font-family: var(--font-sans);
  hyphens: none;
  min-block-size: 20lh;
  text-align: left;
  text-justify: unset;

  p {
    hyphens: none;
  }
}

.page__picker {
  inline-size: auto;
  inset: auto auto -100% 50%;
  padding: var(--block-space);
  transform: translateX(-50%);
  transform-origin: bottom center;
  transition:
    display var(--speed) allow-discrete,
    inset var(--speed) allow-discrete,
    opacity var(--speed),
    overlay var(--speed) allow-discrete;

  &::backdrop {
    opacity: 0;
    transition:
      display var(--backdrop-speed) allow-discrete,
      opacity var(--backdrop-speed),
      overlay var(--backdrop-speed) allow-discrete;
  }

  &[open] {
    transform: translateX(-50%);
    inset-block-end: var(--block-space);
  }

  @starting-style {
    &[open] {
      inset-block-end: -100%;
    }
  }

  img { max-inline-size: unset; }
}

.page--picture {
  img {
    block-size: 100%;
    object-fit: cover;
  }
}

.page--section {
  background-color: var(--color-border);
}

:is(.page--picture, .page--section) {
  block-size: calc(100dvh - (var(--footer-height) * 2) - var(--block-space));
  display: grid;
  place-items: center;
}
